# Supabase Configuration
VITE_SUPABASE_URL=https://wrrjjtqqnkqbyxumxqyc.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_so2LE1SJU2OAayx4t5Z-zw_ZIE3uFIS

# Backend API Configuration (Ubah ke URL backend publik Anda jika sudah dideploy, misal di Render/Railway)
VITE_API_BASE_URL=http://127.0.0.1:8000
